# Automatically normalize line endings
* text=auto

# Force consistent LF line endings for common text files
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf